/* products */
#content {
  padding-top: 120px;
  padding-bottom: 160px;
  li {
    margin-bottom: 40px;
    img {
      margin-bottom: 10px;
    }
    p {
      text-align: start;
      font-size: 1.2rem;
    }
  }
}

h2.page-title {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 30px;
}

.page-number {
  display: flex;
  justify-content: center;
  .number {
    padding: 0 20px;
    font-size: 1.4rem;
  }
}
